In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("list.txt",sep = ",",names = ['id','message'])
print(df)

              id                                            message
0           ['1'   ' creation_ts 2001-10-10 21:37:00 -0400 bug_i...
1          ['10'   ' creation_ts 2005-12-15 10:54:00 -0500 bug_i...
2       ['10001'   ' creation_ts 2002-09-27 10:07:00 -0400 bug_i...
3      ['100013'   ' creation_ts 2005-06-14 14:26:00 -0400 bug_i...
4      ['100032'   ' creation_ts 2006-02-02 06:28:00 -0500 bug_i...
...          ...                                                ...
39518   ['99984'   ' creation_ts 2005-09-29 18:00:00 -0400 bug_i...
39519   ['99984'   ' creation_ts 2006-04-03 11:35:00 -0400 bug_i...
39520   ['99984'   ' creation_ts 2006-04-07 10:08:00 -0400 bug_i...
39521   ['99984'   ' creation_ts 2006-04-21 00:00:00 -0400 bug_i...
39522   ['99996'   ' creation_ts 2005-06-10 11:49:00 -0400 bug_i...

[39523 rows x 2 columns]

In [55]:
import random
import os
import argparse
from pathlib import Path
from tqdm import tqdm
import re
import codecs
import json
from operator import itemgetter
with codecs.open('eclipse_clear.json', 'r', encoding='utf-8') as f:
     lines = f.readlines()
#master = list()
a = list()
for line in tqdm(lines):
  item = ujson.loads(line)
  if len(item['dup_id']) != 0:
   # dup_id = 'master_id ' + item['dup_id']
   # master.append( int(item['dup_id'])) 
    bug_id = ' bug_id ' + item['bug_id']
    a.append([item['dup_id'],' creation_ts ' + item["creation_ts"] + bug_id,item['description']])
   # creation_ts = 'creation_ts' + item["creation_ts"]

100%|██████████████████████████████████████████████████████████████████████| 361006/361006 [00:02<00:00, 178183.49it/s]

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.core.frame import DataFrame
a = sorted(a)
data = DataFrame(a)
data.columns = ['id','message','description']
print(data)
#在之前list基础上添加了description

           id                                            message  \
0           1   creation_ts 2001-10-10 21:37:00 -0400 bug_id 183
1          10   creation_ts 2005-12-15 10:54:00 -0500 bug_id ...
2       10001   creation_ts 2002-09-27 10:07:00 -0400 bug_id ...
3      100013   creation_ts 2005-06-14 14:26:00 -0400 bug_id ...
4      100032   creation_ts 2006-02-02 06:28:00 -0500 bug_id ...
...       ...                                                ...
39518   99984   creation_ts 2005-09-29 18:00:00 -0400 bug_id ...
39519   99984   creation_ts 2006-04-03 11:35:00 -0400 bug_id ...
39520   99984   creation_ts 2006-04-07 10:08:00 -0400 bug_id ...
39521   99984   creation_ts 2006-04-21 00:00:00 -0400 bug_id ...
39522   99996   creation_ts 2005-06-10 11:49:00 -0400 bug_id ...

                                             description
0      We need to tell people that they  must refresh...
1      *---\nIn other words, it is permissible to omi...
2      I implemented a LabelProvider which dynamicall...
3      It appears that the dialog values will default...
4      Files with the extension .class cannot be save...
...                                                  ...
39518  If I make the first item in a toolbar a pull-d...
39519  20060403 (but there probbaly since M5)\n\nAll ...
39520  Running  N20060407-0010\n\nFor some reason, th...
39521  in N0418\n\nI don't know what hte right name f...
39522  Not sure where this bug belongs, but on review...

[39523 rows x 3 columns]

In [85]:
a = list()
for line in tqdm(lines):
    item = ujson.loads(line)
  #if len(item['dup_id']) != 0:
   # dup_id = 'master_id ' + item['dup_id']
   # master.append( int(item['dup_id'])) 
    #bug_id = ' bug_id ' + item['bug_id']
    a.append([item['bug_id'],' creation_ts ' + item["creation_ts"]])
   # creation_ts = 'creation_ts' + item["creation_ts"]
a = sorted(a)
data1 = DataFrame(a)
print(type(data1))
print(data1)

100%|██████████████████████████████████████████████████████████████████████| 361006/361006 [00:02<00:00, 142508.28it/s]

<class 'pandas.core.frame.DataFrame'>
             0                                       1
0            1   creation_ts 2001-10-10 21:34:00 -0400
1           10   creation_ts 2001-10-10 21:34:00 -0400
2          100   creation_ts 2001-10-10 21:36:00 -0400
3        10000   creation_ts 2002-02-19 11:07:00 -0500
4       100000   creation_ts 2005-06-14 12:11:00 -0400
...        ...                                     ...
361001   99995   creation_ts 2005-06-14 12:04:00 -0400
361002   99996   creation_ts 2005-06-14 12:07:00 -0400
361003   99997   creation_ts 2005-06-14 12:08:00 -0400
361004   99998   creation_ts 2005-06-14 12:09:00 -0400
361005   99999   creation_ts 2005-06-14 12:09:00 -0400

[361006 rows x 2 columns]

In [86]:
data1.columns = ['id','message']
print(type(data1))
print(data1)
#用于匹配master_id

<class 'pandas.core.frame.DataFrame'>
            id                                 message
0            1   creation_ts 2001-10-10 21:34:00 -0400
1           10   creation_ts 2001-10-10 21:34:00 -0400
2          100   creation_ts 2001-10-10 21:36:00 -0400
3        10000   creation_ts 2002-02-19 11:07:00 -0500
4       100000   creation_ts 2005-06-14 12:11:00 -0400
...        ...                                     ...
361001   99995   creation_ts 2005-06-14 12:04:00 -0400
361002   99996   creation_ts 2005-06-14 12:07:00 -0400
361003   99997   creation_ts 2005-06-14 12:08:00 -0400
361004   99998   creation_ts 2005-06-14 12:09:00 -0400
361005   99999   creation_ts 2005-06-14 12:09:00 -0400

[361006 rows x 2 columns]

In [77]:
date = []
data2 = data['message']
#data = data.iloc[:,1:2].values
#data = data[:,1:2]
for i in data2:
    date.append(i[13:23])
date = pd.DataFrame({'date':date})
data = pd.concat([data,date],axis = 1)
print(data)

           id                                            message  \
0           1   creation_ts 2001-10-10 21:37:00 -0400 bug_id 183
1          10   creation_ts 2005-12-15 10:54:00 -0500 bug_id ...
2       10001   creation_ts 2002-09-27 10:07:00 -0400 bug_id ...
3      100013   creation_ts 2005-06-14 14:26:00 -0400 bug_id ...
4      100032   creation_ts 2006-02-02 06:28:00 -0500 bug_id ...
...       ...                                                ...
39518   99984   creation_ts 2005-09-29 18:00:00 -0400 bug_id ...
39519   99984   creation_ts 2006-04-03 11:35:00 -0400 bug_id ...
39520   99984   creation_ts 2006-04-07 10:08:00 -0400 bug_id ...
39521   99984   creation_ts 2006-04-21 00:00:00 -0400 bug_id ...
39522   99996   creation_ts 2005-06-10 11:49:00 -0400 bug_id ...

                                             description        date
0      We need to tell people that they  must refresh...  2001-10-10
1      *---\nIn other words, it is permissible to omi...  2005-12-15
2      I implemented a LabelProvider which dynamicall...  2002-09-27
3      It appears that the dialog values will default...  2005-06-14
4      Files with the extension .class cannot be save...  2006-02-02
...                                                  ...         ...
39518  If I make the first item in a toolbar a pull-d...  2005-09-29
39519  20060403 (but there probbaly since M5)\n\nAll ...  2006-04-03
39520  Running  N20060407-0010\n\nFor some reason, th...  2006-04-07
39521  in N0418\n\nI don't know what hte right name f...  2006-04-21
39522  Not sure where this bug belongs, but on review...  2005-06-10

[39523 rows x 4 columns]

In [87]:
master_date = []
data2 = data1['message']
#data = data.iloc[:,1:2].values
#data = data[:,1:2]
for i in data2:
    master_date.append(i[13:23])
master_date = pd.DataFrame({'master_date':master_date})
data1 = pd.concat([data1,master_date],axis = 1)
print(data1)

            id                                 message master_date
0            1   creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
1           10   creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
2          100   creation_ts 2001-10-10 21:36:00 -0400  2001-10-10
3        10000   creation_ts 2002-02-19 11:07:00 -0500  2002-02-19
4       100000   creation_ts 2005-06-14 12:11:00 -0400  2005-06-14
...        ...                                     ...         ...
361001   99995   creation_ts 2005-06-14 12:04:00 -0400  2005-06-14
361002   99996   creation_ts 2005-06-14 12:07:00 -0400  2005-06-14
361003   99997   creation_ts 2005-06-14 12:08:00 -0400  2005-06-14
361004   99998   creation_ts 2005-06-14 12:09:00 -0400  2005-06-14
361005   99999   creation_ts 2005-06-14 12:09:00 -0400  2005-06-14

[361006 rows x 3 columns]

In [60]:
type(data)

pandas.core.frame.DataFrame

In [78]:
# date = []
# data2 = data.iloc[:,'message'].values
# #data = data.iloc[:,1:2].values
# #data = data[:,1:2]
# for i in range(data2.shape[0]):
#     date.append(data2[i][15:25])
# date = pd.DataFrame({'date':date})
# data2 = pd.concat([data,date],axis = 1)
# print(data)  #之前跑出来的代码突然报错真离谱，乐

In [83]:
data_deal = data.groupby('id').apply(lambda x:[','.join(x['date'])]).apply(lambda x:x[0]).reset_index(name='dup_date')
print(data_deal)

           id                                           dup_date
0           1                                        ,2001-10-10
1          10                                        ,2005-12-15
2       10001                                        ,2002-09-27
3      100013                                        ,2005-06-14
4      100032                                        ,2006-02-02
...       ...                                                ...
26119   99948                                        ,2006-01-03
26120   99978                                        ,2005-06-16
26121   99982                                        ,2005-07-11
26122   99984  ,2004-02-23,,2005-09-29,,2006-04-03,,2006-04-0...
26123   99996                                        ,2005-06-10

[26124 rows x 2 columns]

In [81]:
print(data)

           id                                            message  \
0           1   creation_ts 2001-10-10 21:37:00 -0400 bug_id 183
1          10   creation_ts 2005-12-15 10:54:00 -0500 bug_id ...
2       10001   creation_ts 2002-09-27 10:07:00 -0400 bug_id ...
3      100013   creation_ts 2005-06-14 14:26:00 -0400 bug_id ...
4      100032   creation_ts 2006-02-02 06:28:00 -0500 bug_id ...
...       ...                                                ...
39518   99984   creation_ts 2005-09-29 18:00:00 -0400 bug_id ...
39519   99984   creation_ts 2006-04-03 11:35:00 -0400 bug_id ...
39520   99984   creation_ts 2006-04-07 10:08:00 -0400 bug_id ...
39521   99984   creation_ts 2006-04-21 00:00:00 -0400 bug_id ...
39522   99996   creation_ts 2005-06-10 11:49:00 -0400 bug_id ...

                                             description         date
0      We need to tell people that they  must refresh...  ,2001-10-10
1      *---\nIn other words, it is permissible to omi...  ,2005-12-15
2      I implemented a LabelProvider which dynamicall...  ,2002-09-27
3      It appears that the dialog values will default...  ,2005-06-14
4      Files with the extension .class cannot be save...  ,2006-02-02
...                                                  ...          ...
39518  If I make the first item in a toolbar a pull-d...  ,2005-09-29
39519  20060403 (but there probbaly since M5)\n\nAll ...  ,2006-04-03
39520  Running  N20060407-0010\n\nFor some reason, th...  ,2006-04-07
39521  in N0418\n\nI don't know what hte right name f...  ,2006-04-21
39522  Not sure where this bug belongs, but on review...  ,2005-06-10

[39523 rows x 4 columns]

In [88]:
print(data['date'][1])

,2005-12-15

In [80]:
data['date'] = data['date'].apply(lambda x:','+ x)
data1 = data.groupby(by='id').sum()
data1 = data.groupby(by='id').sum()
data1['date'] = data1['date'].apply(lambda x :[x[1:]])
print(data1)

                                                  message  \
id
1        creation_ts 2001-10-10 21:37:00 -0400 bug_id 183
10       creation_ts 2005-12-15 10:54:00 -0500 bug_id ...
10001    creation_ts 2002-09-27 10:07:00 -0400 bug_id ...
100013   creation_ts 2005-06-14 14:26:00 -0400 bug_id ...
100032   creation_ts 2006-02-02 06:28:00 -0500 bug_id ...
...                                                   ...
99948    creation_ts 2006-01-03 07:02:00 -0500 bug_id ...
99978    creation_ts 2005-06-16 19:52:00 -0400 bug_id ...
99982    creation_ts 2005-07-11 09:51:00 -0400 bug_id ...
99984    creation_ts 2004-02-23 16:42:00 -0500 bug_id ...
99996    creation_ts 2005-06-10 11:49:00 -0400 bug_id ...

                                                     date
id
1                                            [2001-10-10]
10                                           [2005-12-15]
10001                                        [2002-09-27]
100013                                       [2005-06-14]
100032                                       [2006-02-02]
...                                                   ...
99948                                        [2006-01-03]
99978                                        [2005-06-16]
99982                                        [2005-07-11]
99984   [2004-02-23,2005-09-29,2006-04-03,2006-04-07,2...
99996                                        [2005-06-10]

[26124 rows x 2 columns]

D:\Anaconda\envs\python3_7\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.

D:\Anaconda\envs\python3_7\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
data['date'] = data['date'].apply(lambda x:','+ x)
data1 = data.groupby(by='id').sum()
data1 = data.groupby(by='id').sum()
data1['date'] = data1['date'].apply(lambda x :[x[1:]])
print(data1)

                                                     message  \
id
['1'        ' creation_ts 2001-10-10 21:37:00 -0400 bug_i...
['10'       ' creation_ts 2005-12-15 10:54:00 -0500 bug_i...
['10001'    ' creation_ts 2002-09-27 10:07:00 -0400 bug_i...
['100013'   ' creation_ts 2005-06-14 14:26:00 -0400 bug_i...
['100032'   ' creation_ts 2006-02-02 06:28:00 -0500 bug_i...
...                                                      ...
['99948'    ' creation_ts 2006-01-03 07:02:00 -0500 bug_i...
['99978'    ' creation_ts 2005-06-16 19:52:00 -0400 bug_i...
['99982'    ' creation_ts 2005-07-11 09:51:00 -0400 bug_i...
['99984'    ' creation_ts 2004-02-23 16:42:00 -0500 bug_i...
['99996'    ' creation_ts 2005-06-10 11:49:00 -0400 bug_i...

                                                        date
id
['1'                                            [2001-10-10]
['10'                                           [2005-12-15]
['10001'                                        [2002-09-27]
['100013'                                       [2005-06-14]
['100032'                                       [2006-02-02]
...                                                      ...
['99948'                                        [2006-01-03]
['99978'                                        [2005-06-16]
['99982'                                        [2005-07-11]
['99984'   [2004-02-23,2005-09-29,2006-04-03,2006-04-07,2...
['99996'                                        [2005-06-10]

[26124 rows x 2 columns]

In [95]:
pd.merge(data_deal,data1, on=['id'], how='inner')

,id,dup_date,message,master_date
0,1,",2001-10-10",creation_ts 2001-10-10 21:34:00 -0400,2001-10-10
1,10,",2005-12-15",creation_ts 2001-10-10 21:34:00 -0400,2001-10-10
2,10001,",2002-09-27",creation_ts 2002-02-19 11:12:00 -0500,2002-02-19
3,100013,",2005-06-14",creation_ts 2005-06-14 12:51:00 -0400,2005-06-14
4,100032,",2006-02-02",creation_ts 2005-06-14 14:03:00 -0400,2005-06-14
...,...,...,...,...
26119,99948,",2006-01-03",creation_ts 2005-06-14 09:10:00 -0400,2005-06-14
26120,99978,",2005-06-16",creation_ts 2005-06-14 11:16:00 -0400,2005-06-14
26121,99982,",2005-07-11",creation_ts 2005-06-14 11:34:00 -0400,2005-06-14
26122,99984,",2004-02-23,,2005-09-29,,2006-04-03,,2006-04-0...",creation_ts 2005-06-14 11:37:00 -0400,2005-06-14
26123,99996,",2005-06-10",creation_ts 2005-06-14 12:07:00 -0400,2005-06-14

In [96]:
result1 = pd.merge(data_deal,data1, on=['id'], how='inner')
print(type(result))
print(result)

<class 'pandas.core.frame.DataFrame'>
           id                                           dup_date  \
0           1                                        ,2001-10-10
1          10                                        ,2005-12-15
2       10001                                        ,2002-09-27
3      100013                                        ,2005-06-14
4      100032                                        ,2006-02-02
...       ...                                                ...
26119   99948                                        ,2006-01-03
26120   99978                                        ,2005-06-16
26121   99982                                        ,2005-07-11
26122   99984  ,2004-02-23,,2005-09-29,,2006-04-03,,2006-04-0...
26123   99996                                        ,2005-06-10

                                      message master_date
0       creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
1       creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
2       creation_ts 2002-02-19 11:12:00 -0500  2002-02-19
3       creation_ts 2005-06-14 12:51:00 -0400  2005-06-14
4       creation_ts 2005-06-14 14:03:00 -0400  2005-06-14
...                                       ...         ...
26119   creation_ts 2005-06-14 09:10:00 -0400  2005-06-14
26120   creation_ts 2005-06-14 11:16:00 -0400  2005-06-14
26121   creation_ts 2005-06-14 11:34:00 -0400  2005-06-14
26122   creation_ts 2005-06-14 11:37:00 -0400  2005-06-14
26123   creation_ts 2005-06-14 12:07:00 -0400  2005-06-14

[26124 rows x 4 columns]

In [102]:
print(result['dup_date'][1][1:4])

200

In [97]:
a = list()
for line in tqdm(lines):
    item = ujson.loads(line)
  #if len(item['dup_id']) != 0:
   # dup_id = 'master_id ' + item['dup_id']
   # master.append( int(item['dup_id'])) 
    #bug_id = ' bug_id ' + item['bug_id']
    a.append([item['bug_id'],item['description']])
   # creation_ts = 'creation_ts' + item["creation_ts"]
a = sorted(a)
data1 = DataFrame(a)
data1.columns = ['id','description']
print(type(data1))
print(data1)

100%|██████████████████████████████████████████████████████████████████████| 361006/361006 [00:02<00:00, 125859.19it/s]

<class 'pandas.core.frame.DataFrame'>
            id                                        description
0            1  - Setup a project that contains a *.gif resour...
1           10  There seems to be a need for a VCM Event notif...
2          100  It would be nice to be able to lock the teamst...
3        10000  In a class named "First", the names for getter...
4       100000  Create new TPTP Manual Test in the java projec...
...        ...                                                ...
361001   99995  I20050610-1757 (3.1RC2)\n\npublic class Anon {...
361002   99996  Running Eclipse 3.1 RC2\n\n1.  Open CVS Reposi...
361003   99997  Two files recursively include each other, for ...
361004   99998  I get this message the the log file every time...
361005   99999  The following code bombs the compiler:\n\npubl...

[361006 rows x 2 columns]

In [98]:
pd.merge(result1,data1, on=['id'], how='inner')

,id,dup_date,message,master_date,description
0,1,",2001-10-10",creation_ts 2001-10-10 21:34:00 -0400,2001-10-10,- Setup a project that contains a *.gif resour...
1,10,",2005-12-15",creation_ts 2001-10-10 21:34:00 -0400,2001-10-10,There seems to be a need for a VCM Event notif...
2,10001,",2002-09-27",creation_ts 2002-02-19 11:12:00 -0500,2002-02-19,PropertySheetViewer.updateEntry() has a specif...
3,100013,",2005-06-14",creation_ts 2005-06-14 12:51:00 -0400,2005-06-14,1. Add a new server runtime for any server (I...
4,100032,",2006-02-02",creation_ts 2005-06-14 14:03:00 -0400,2005-06-14,3.1 RC2 (it has always been like that)\n\nWhen...
...,...,...,...,...,...
26119,99948,",2006-01-03",creation_ts 2005-06-14 09:10:00 -0400,2005-06-14,3.1 RC3\n\n'Build Path' > 'Use as Source Folde...
26120,99978,",2005-06-16",creation_ts 2005-06-14 11:16:00 -0400,2005-06-14,In RC2. Take SayTests.java (attached). Selec...
26121,99982,",2005-07-11",creation_ts 2005-06-14 11:34:00 -0400,2005-06-14,"Using RC2 + JDT/Core HEAD, I found two cases w..."
26122,99984,",2004-02-23,,2005-09-29,,2006-04-03,,2006-04-0...",creation_ts 2005-06-14 11:37:00 -0400,2005-06-14,I started using the SWT manifest so I could ta...
26123,99996,",2005-06-10",creation_ts 2005-06-14 12:07:00 -0400,2005-06-14,Running Eclipse 3.1 RC2\n\n1. Open CVS Reposi...

In [99]:
result2 = pd.merge(result1,data1, on=['id'], how='inner')

In [103]:
import datetime
def days(str1,str2):
    date1=datetime.datetime.strptime(str1[0:10],"%Y-%m-%d")
    date2=datetime.datetime.strptime(str2[0:10],"%Y-%m-%d")
    num=(date1-date2).days
    return num
def months(str1,str2):
    year1=datetime.datetime.strptime(str1[0:10],"%Y-%m-%d").year
    year2=datetime.datetime.strptime(str2[0:10],"%Y-%m-%d").year
    month1=datetime.datetime.strptime(str1[0:10],"%Y-%m-%d").month
    month2=datetime.datetime.strptime(str2[0:10],"%Y-%m-%d").month
    num=(year1-year2)*12+(month1-month2)
    return num
#算时间间隔的函数

In [113]:
Days_gap = []#计算相差的天数
Months_gap = []#计算相差的月数
for i in range(26124):   #26124为行数
    Days_gap.append(days(result2['dup_date'][i][1:11],result2['master_date'][i]))
    Months_gap.append(months(result2['dup_date'][i][1:11],result2['master_date'][i]))

In [117]:
result2.insert(loc=5, column='Days_gap', value=Days_gap)
result2.insert(loc=6, column='Months_gap', value=Months_gap)
print(result2)

           id                                           dup_date  \
0           1                                        ,2001-10-10
1          10                                        ,2005-12-15
2       10001                                        ,2002-09-27
3      100013                                        ,2005-06-14
4      100032                                        ,2006-02-02
...       ...                                                ...
26119   99948                                        ,2006-01-03
26120   99978                                        ,2005-06-16
26121   99982                                        ,2005-07-11
26122   99984  ,2004-02-23,,2005-09-29,,2006-04-03,,2006-04-0...
26123   99996                                        ,2005-06-10

                                      message master_date  \
0       creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
1       creation_ts 2001-10-10 21:34:00 -0400  2001-10-10
2       creation_ts 2002-02-19 11:12:00 -0500  2002-02-19
3       creation_ts 2005-06-14 12:51:00 -0400  2005-06-14
4       creation_ts 2005-06-14 14:03:00 -0400  2005-06-14
...                                       ...         ...
26119   creation_ts 2005-06-14 09:10:00 -0400  2005-06-14
26120   creation_ts 2005-06-14 11:16:00 -0400  2005-06-14
26121   creation_ts 2005-06-14 11:34:00 -0400  2005-06-14
26122   creation_ts 2005-06-14 11:37:00 -0400  2005-06-14
26123   creation_ts 2005-06-14 12:07:00 -0400  2005-06-14

                                             description  Days_gap  Months_gap
0      - Setup a project that contains a *.gif resour...         0           0
1      There seems to be a need for a VCM Event notif...      1527          50
2      PropertySheetViewer.updateEntry() has a specif...       220           7
3      1.  Add a new server runtime for any server (I...         0           0
4      3.1 RC2 (it has always been like that)\n\nWhen...       233           8
...                                                  ...       ...         ...
26119  3.1 RC3\n\n'Build Path' > 'Use as Source Folde...       203           7
26120  In RC2.  Take SayTests.java (attached).  Selec...         2           0
26121  Using RC2 + JDT/Core HEAD, I found two cases w...        27           1
26122  I started using the SWT manifest so I could ta...      -477         -16
26123  Running Eclipse 3.1 RC2\n\n1.  Open CVS Reposi...        -4           0

[26124 rows x 7 columns]

In [118]:
result2.to_csv("list_new.csv")